<div class="container">
<div class="row">
<div class="col-2">
<h2>使い方</h2>
</div>
<div class="col-10">
<p>1.グループ作成しよう！<br>
        サイドバーよりグループ名を入力し、新規作成ボタンを押すことでグループを作成できます。<br>
        グループを作成するか、他のグループに所属しなければ投稿は出来ません。<br><br>
2.投稿してみよう！<br><br>
3.ユーザー一覧<br>
        作成したグループに他の人を誘うには、ユーザー一覧、又はユーザー検索を行い<br>
        他の人のユーザーページに行く必要があります。<br><br>
4.ユーザー検索<br><br>
5.勧誘<br>
        現在グループ作成者のみが他の人を勧誘することが出来ます。<br>
        今後の更新でグループ作成者による勧誘権限の付与、及び勧誘の拒否を実装する予定です<br><br>
6.投稿フォーム下部のチェックボックスを選び投稿すると、
選んだグループの人にのみ投稿の閲覧を許可します<br><br>
7.チェックボックスを選択しないと、全てのグループに閲覧を許可します</p>

<h1 class="text-center"><%=link_to "Enter",posts_path%></h1>

</div>
</div>
</div>