<div class="container">
<div class="row">
<div class="col-2">
<h2>使い方</h2>
</div>
<div class="col-10">
<p>1.グループ作成<br>
2.投稿してみよう<br>
3.ユーザー一覧<br>
4.ユーザー検索<br>
5.勧誘<br>
6.投稿フォーム下部のチェックボックスを選び投稿すると、
選んだグループの人にのみ投稿の閲覧を許可します<br>
7.チェックボックスを選択しないと、全てのグループに閲覧を許可します</p>

<h1 class="text-center"><%=link_to "Enter",posts_path%></h1>

</div>
</div>
</div>